*{
    box-sizing: border-box;
}
body {
    color: azure;
    margin: 0px;
    padding: 0px;
    background: url('../img/man.jpg');
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.9px;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'The Nautigal', cursive; */
}

.left {
    background-color: rgba(245, 245, 219, 0.075);
    /* border: 1px solid white; */
    padding: 7px;
    margin: 5px;
    display: inline-block;
    position: absolute;
    left: 104px;
    top: 5px;
    border: 1px solid chartreuse;
}

.left #title{
    color: orange;
}

.mid {
    display: block;
    /* border: 1px solid brown; */
    margin: 25px auto;
    width: 31%;
    background-color: rgba(0, 0, 0, 0.486);
    border: 1px solid orange/*rgba(245, 245, 219, 0.11)*/;
}

.right {
    /* border: 1px solid brown; */
    margin: 5px;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 35px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

li a {
    font-size: 15px;
    color: orange;
    text-decoration: none;
}

li a:hover,li a.active {
    font-size: 15px;
    color:rgb(73, 243, 31);
    text-decoration: underline;
    letter-spacing: 1.2px;
}

.left img {
    line-height: 0px;
    width: 50px;
    filter: invert(100%);
}

.left div {
    text-align: center;
}

.btn {
    color: orange;
    background-color: rgba(0, 0, 0, 0.329);
    
    padding: 3px 18px;
    margin: 2px 5px;
    border: 1px solid orange/*rgba(245, 245, 219, 0.11)*/;
    border-radius: 1px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.6px;
}

.btn:hover {
    color: chartreuse;
    background-color: black;
}
.container{
    position: absolute;
    width: 31%;
    border: 1px solid chartreuse/*rgba(0, 0, 0, 0.308)*/;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 2px 22px;
    margin: 2px 5px;
    top: 192px;
    left: 176px;
    box-shadow: 7px 7px rgba(126, 250, 2, 0.39);
    border-radius: 10px;
}
.container h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:orange;
    margin: 20px;
}
.container h3 span{
    color: chartreuse;
    font-size: 25px;
}
.form-group input{
        display: block;
        width: 60%;
        height: 30px;
        padding: 2px 2px;
        margin: 16px auto;
        border: 2px solid rgba(34, 34, 30, 0.082);
        color: white;
        background-color: rgba(255, 255, 255, 0.582);
}
.container button{
    color: orange;
    display: block;
    margin: 30px auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.486);
    height: 35px;
    /* margin-bottom:30px; */
}
.container button:hover{
    color: chartreuse;
}
#msg{
    font-size: 36px;
    display: block;
    position: absolute;
    top: 300px;
    left: 60%;;
    width: 30%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);;
}
#bar{
    margin: 5px;
    color: orange;
    font-size: 40px;
}
#get{
    margin: 5px;
    color: orange;
}
#msg .list{
    margin: 0px;
    list-style: none;
    display: inline-block;
}
.list li {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
#msg .list1{
    margin: 0px;
    list-style: none;
    display: inline-block;
}
#fit{
    color: orangered;
}
#strong{
    color: chartreuse;
}
#motivated{
    color: rgb(15, 207, 241);
}
#and{
    color: orange;
}